.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#sfsu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.skill {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

