@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

/* entire page */
.about-page {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6;
  background-color: antiquewhite;
}

/* header */
.about-header {
  background-color: rgb(56, 40, 102);
  position: relative;
  padding: 28px;
}

/* skewing header section */
.about-header::before,
.about-header::after {
  content: "";
  position: absolute;
  height: 50px;
  bottom: -25px;
  right: 0;
  left: 0;
  background: rgb(212, 174, 5);
  transform: skewY(1.9deg);
  -webkit-transform: skewY(1.9deg);
  -moz-transform: skewY(1.9deg);
  -ms-transform: skewY(1.9deg);
}

/* image */
.about-img {
  height: 250px;
  width: 250px;
  animation: slideInFromLeft 1s ease-in;
}

/* header text */
.about-me-text {
  text-align: center;
  animation: slideInFromRight 1s ease-in;
}

/* about page body section */
.about-body {
  width: fit-content;
}

/* about description card */
.about-desc {
  max-height: fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 45px;
  animation: slideInFromBottom 1s ease-in;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}

/* about skill set logo and name */
.about-skill-set {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  padding: 5px;
  transition: transform 0.2s ease-in;
  margin: auto;
  text-align: center;
}

/* skill card hover effect*/
.about-skill-set:hover {
  transform: translateY(-15px);
}

/* about skill name h4 tag */
.about-skill-name {
  font-size: large;
  font-weight: 400;
}

/* recent projects*/
.about-projects {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  background-color: rgb(209, 206, 218);
}

/* github icon link*/
.about-projects-link {
  font-size: 30px;
}
.about-projects-link:hover {
  background-color: blue;
  color: white;
}

/* sliding CSS animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}
