header.masthead .page-heading .subheading, header.masthead .site-heading .subheading {
    font-size: smaller;
  }

.border {
    border: lightgrey;
    border-radius: solid 1px;
    padding: 2px;
}

.about-text {
    font-size: large;
    font-weight: 200;
}

.card-group {
    padding: 1px;
}
