.primary-color {
  color: var(--primary-color);
}

.total-box {
  border: solid 3px var(--primary-color);
  width: 300px;
  margin: auto;
}
/* height of text field for delivery instructions and special instructions to chef*/
.text-field {
  height: 100px;
}
/* confirm order button background color */
.confirm-order {
  background-color: var(--primary-color);
}

/* total box opac background */
.total-bg {
  background-color: var(--primary-color-opac);
}
/* line divider turned to purple */
.checkout-border {
  border-color: var(--primary-color) !important;
}

/* for specific widths */
@media (max-width: 992px) {
  .total-box {
    min-width: 300px;
  }
}
