.total_box{
    border-color: var(--primary-color) !important;
    margin-left: 20px;
    border-width: medium !important;
    right: 15px;
    top: 50%;
    transform: translate(0%, -50%);
    
}
/* height of text field for delivery instructions and special instructions to chef*/
.text_field {
    height: 100px;
}
/* confirm order button background color */
.confirm_order{
    background-color: var(--primary-color) !important;
}

/* total box opac background */
.total_bg{
    background-color: var(--primary-color-opac) !important;
}
/* line divders turned to purple */
.checkout_borders{
    border-color: var(--primary-color) !important;
}
/*resizes texts of page except for 'Checkout' text*/
@media (max-width: 650px){
    .text{
        font-size: 0.5rem;
    }
}
