/*Assigned orders header background color*/
/*Order details header background*/
.order_header{
    background-color:var(--primary-color);
    opacity: 0.9;
}
.current-order-text{
    color: var(--primary-color);
    font-weight: bold;
}
.current-orders-map{
    margin-left: auto !important;
    margin-right: auto !important;
}
.delivered_text{
    margin-right:auto;
    margin-left:auto;
    background-color:var(--primary-color)
}
/*border of table*/
.table_order{
    border:var(--primary-color);
}
/*header of table border color*/
.border_header{
   border-color: var(--primary-color) !important;
}
/*border of body table*/
.border_body{
    border-color: var(--primary-color) !important;
}
/*border of customer order card body*/
.card_customerorder_body{
    border-color:var(--primary-color) !important;
}
/*background color of customer order header*/
.card_customerorder{
    background-color: var(--primary-color);
}
/*border color of customer order map*/
.customer_order_map{
    border-color:var(--primary-color) !important;
}
/*Text above delivered button made smaller for subtle hint*/
.click_delivered{
    font-size: 10px;
}
/*shifts order detail items to left, was originally more right side*/
.items{
    padding-right: 100px;
}
/*text within delivered button for responsiveness*/
.delivered_text{
}
/*deliver button background color and width responsiveness size*/
.delivered_button{
    background-color:var(--primary-color);
}
.delivery_instructions{
    width: 25vw;
}
/*removes customer info's bullet points*/
.customer_info{
    list-style: none;
}

