header{
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-image: linear-gradient(#f7e8df,white,#f8ebe3,#DCDCDC);
  }
  
  .profile_pic{
    border-radius: 40%;
  } 

.sfsu{
padding-left: 20px;
}

.contacts_text{
margin-left: 20px;
}

.contacts_linkedin{
  margin-right: 152px;
  margin-top: 10px;
}  
.contacts_github{
 margin-right: 165px;
 margin-top: 10px;
}

.contacts_mail{
  margin-right: 25px;
  margin-top: 10px;
}

li{
    list-style: none;
}
  
li a{
  text-decoration: none;
  color: blue;
}
  
h2{
font-size: 35px;
padding-left: 30px;
}

.info{
margin: 150px;
}
  
/* @media (max-width: 600px) {
.sfsu{
  
  }
}  */
  
  
  
  
  
  
  
  
  