header{
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-image: linear-gradient(#f7e8df,white,#f8ebe3,#DCDCDC);
  }
  
  .profile_pic{
    border-radius: 40%;
  }

  .sfsu{
    padding-left: 30px;
  }
  
  ul{
    margin-right: 250px;
  }
  
  li{
    list-style: none;
  }
  
  .linkedin{
    margin: 0px 15px 10px 30px;
  }
  
  .github{
    margin: 0px 15px 10px 15px;
  }
  .mail{
    margin: 0px 15px 10px 155px;
  }
  
  li a{
  text-decoration: none;
  color: blue;
  }
  
  h2{
  font-size: 35px;
  padding-left: 30px;
  }

  .info{
    margin: 150px;
  }
  
  .About_me{
    background-image: linear-gradient(#f8ebe3,white);
  }
  
  
  
  
  
  
  
  
  