@import '../../index.css';

.login-container{
  margin-top: 20px;
  height: 100%;
  width: 100%;
}

.login-form{
  max-width: 100%;
  width: 370px;
  padding: 15px;
  margin: auto;
}

.registration-form{
  max-width: 100%;
  width: 370px;
  padding: 15px;
  margin: auto;
}

login_label {
  display: inline-block;
  padding: 5px 5px 5px 0;
  font-size: 100%;
}

.login_input-field {
  width: 100%;
  border: 2px solid var(--primary-color);
  height: fit-content;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 6px;
  resize: vertical;
  font-size: 100%;
}

.login_button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.login_button {
  border-radius: 40px;
  background-color: var(--secondary-color);
  padding: 10px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: var(--primary-color);
  font-weight: bold;
  width: 30%;
  margin: auto;
  position: relative;
  text-transform: uppercase;
  font-size: 100%;
}

.driver-restaurant-list {
  font-size: medium;
  border: 2px solid var(--primary-color);
}
