@import "../../index.css";

.logo-name {
  font-weight: bolder;
  font-size: 1.5rem;
  font-style: italic;
}

.navbar-search-btn {
  background-color: var(--secondary-color);
  color: black !important;
  text-decoration: none;
}

/* #navbardrop {
  background-color: var(--secondary-color);
  color: black !important;
} */

@media only screen and (min-width: 1440px) {
  .form-inline .form-control {
    width: 450px;
  }
}

@media only screen and (max-width: 600px) {
  .search-bar-align {
    align-items: center;
  }
}
