/* OwnerEditProfile styling */

.editprofile {
  color: white;
  background-color: var(--primary-color-opac-2);
  border-radius: 15px;
  padding: 3%;
  height: auto;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  font-size: 110%;
}
/* Ownerprofile/editprofile Responsiveness */ 
@media (max-width: 500px) {
  .editprofile {
    width: 100%; 
  }
}
@media (min-width: 750px) {
  .editprofile {
    width: 700px;
  }
}

/* save button */
.save-btn {
  background-color: var(--secondary-color-opac);
  color: white;
}
.save-btn:hover {
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: white;
}

/* OwnerProfile */

/* content border */
.profile-content {
  margin-left: auto;
  /* padding: 1%;
  border-radius: 15px; */
}

/* content position breakpoint */
@media (min-width: 1000px) {
  .profile-content {
    /* text-align: center; */
    
  }
}

/* modal width */
@media (max-width: 500px) {
  .modal {
    width: 53%;
  }
}

/* OwnerOrderHistory */

/* table head */
.order-list-title {
  background-color: var(--primary-color);
  opacity: 0.9;
  color: white;
}

/* table body */
.table-striped > tbody > tr:nth-child(odd) {
  background-color: white;
}
.table-striped > tbody > tr:nth-child(even) {
  background-color: var(--primary-color-opac);
  color: white;
}

/* view button */
.view-btn {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.view-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

/* pending button */
.pending-btn {
  background-color: var(--secondary-color);
  color: white;
}

/* modal title */
.modal-header {
  background-color: var(--primary-color-opac);
  color: white;
}

/* modal confirm button */
.modal-confirm-btn {
  background-color: var(--primary-color-opac);
  color: white;
}

