#header {
  padding: 20px;
}

.noborder {
  border: none;
}

.text-muted.card-subtitle.mb-2 {
  font-size: x-small;
}

.links {
  font-size: x-small;
  text-align: center;
  vertical-align: middle;
  padding-top: 2px;
}

.profile-links {
  height: 25px;
}

.text-muted.card-subtitle.mb-2.school {
  font-size: small;
}

.card-text.school {
  font-size: small;
  font-weight: bold;
}

.bscs {
  font-size: x-small;
}

.school-div {
  height: 60px;
  border: solid;
}

.edu-exp {
  padding-bottom: 10px;
}

@media (min-width: 992px) {
  .edu-exp {
    width: 65%;
    padding-bottom: 20px;
  }
}

.header-card {
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.card-title.name {
  padding-top: 5px;
}

.ects-header {
  width: 65%;
  align-items: center;
}

@media (min-width: 992px) {
  .edu-exp-proj {
    width: 65%;
    padding-bottom: 10px;
  }
}

.proj-table {
  width: 65%;
  align-self: center;
  line-height: 10px;
}

@media (max-width: 361px) {
  .proj-links-1 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: x-small;
  }
}

.proj-links-1 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: smaller;
}

.proj-links-2 {
  margin-bottom: 0px;
  font-size: smaller;
}

.footer-text {
  font-size: x-small;
  color: gray;
}

.hr-line {
  width: 70%;
}

.edu-card {
  width: 70%;
}

.ed-div {
  padding-left: 10px;
}

.edu-info p {
  margin-bottom: 0;
}

.edu-info {
  width: 70%;
}

@media (max-width: 575px) {
  .year {
    color: gray;
    font-size: x-small;
  }
  .name {
    font-size: 30px;
  }
}

.year {
  color: gray;
}

.rinay h5 {
  font-weight: 200;
}

.rinay h4 {
  font-weight: 200;
}

.soda-div {
  padding-top: 25px;
  padding-bottom: 25px;
}

.word-div {
  padding-bottom: 55px;
}

@media (max-width: 575px) {
  .proj-p {
    width: 85vw;
    font-size: x-small;
  }
}

@media (min-width: 576px) {
  .proj-p {
    width: 65vw;
  }
}

#projects-display {
  width: 85vw;
  padding-bottom: 100px;
}

@media (min-width: 576px) {
  .ed-img {
    width: 75vw;
  }
}

@media (max-width: 575px) {
  .ed-img {
    width: 90vw;
  }
}

@media (max-width: 575px) {
  .proj-title {
    font-size: small;
  }
}
