@import '../css/index.css';

/* search button */
.navbar-search-btn {
  background-color: var(--secondary-color);
  color: black !important;
  text-decoration: none;
  height: 20px;
}
.nav-search-btn {
  background-color: var(--secondary-color);
  color: white;
}
/* search icon color */
.sb-icon-color {
  color: var(--primary-color);
}

/* search-bar widths */
.search-bar {
  width: 400px;
  height: 35px;
}
@media only screen and (min-width: 1000px) {
  .search-bar {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .search-bar {
    width: 200px;
  }
}
@media (max-width: 414px) {
  .search-bar {
    width: 160px;
  }
}

/* hide dropdown menu */
@media (max-width: 528px) {
  .custom-select {
    display: none;
  }
}

/* form focus color */
.form-control:focus {
  border-color: var(--secondary-color);
  box-shadow: inset 0 1px 1px var(--secondary-color),
    0 0 8px var(--secondary-color);
}
