.vp-search-btn {
  background-color: #552582;
  color: white;
}

.vp-header {
  background-color: #552583;
  position: relative;
  padding: 28px;
}

.vp-header::before,
.vp-header::after {
  content: '';
  position: absolute;
  height: 45px;
  bottom: -24px;
  right: 0;
  left: 0;
  background: #fdb927;
  transform: skewY(1.5deg);
  -webkit-transform: skewY(1.5deg);
  -moz-transform: skewY(1.8deg);
  -ms-transform: skewY(1.8deg);
}

.vp-card {
  border: 1px solid lightgrey;
  padding: 5px;
}

.vp-shadow {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.vp-search-result {
  width: auto;
  padding: 2px;
  margin-bottom: '5px';
}
